<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items" (click)="gotoDetails(item)">
    <ion-card-content>
      <ion-row>
        <ion-col size="5">
          <div>
            <ion-img [src]="item.img[0]"></ion-img>
          </div>
        </ion-col>
        <ion-col size="7">
          <div>
            <ion-label color="dark">{{item.name}}</ion-label>
            <div>
              <ion-label color="dark">₹ {{item.price}}</ion-label>
            </div>
            <div>
              <ion-label>{{item.quantity}} {{item.qtyType}}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>