<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let im of item.img">
          <h1>
            <ion-img [src]="im"></ion-img>
          </h1>
        </ion-slide>
      </ion-slides>
      <div>
        <ion-label color="dark">{{item.name}}</ion-label>
        <div>
          <ion-label color="dark">₹ {{item.price}}</ion-label>
        </div>
        <div>
          <ion-label>{{item.quantity}} Kg</ion-label>
        </div>
      </div>
      <ion-button expand="block" fill="outline" (click)="addToCart(item)">Add to Cart</ion-button>
      <ion-button expand="block" fill="outline">Buy Now</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>